.default-btn {
  cursor: default;
  display: inline-block;
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: #047857;
  font-size: 0.875rem;
}

.text-green-label {
  color: #d1fae5;
  display: inline-block;
  margin-right: 0.5rem;
}

.white-bold-text {
  color: #ffffff;
  font-weight: 700;
}
